body{
    background-color: bisque;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    color: bisque;
}
h1 {
    color: coral;
}
button {
    background-color: coral;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}